services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6335:6333"
    volumes:
      - ./long_term_memory:/qdrant/storage
    restart: unless-stopped
  rose:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DOCKER_ENV=true
      - PORT=8000
      - QDRANT_PORT=6333
      - QDRANT_HOST=qdrant
      - QDRANT_URL=http://qdrant:6333
    restart: unless-stopped
    volumes: 
      - ./short_term_memory:/app/data
    depends_on:
      - qdrant
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M